---
# Clean stuff up for (re)deploy
- include: cleanup.yml
  when: resourcemap_deploy

- name: Set hostname
  hostname: name={{resourcemap_fqdn}}

- name: Set hostname in /etc/hosts
  lineinfile: line="127.0.1.1 {{resourcemap_fqdn}}"
              dest=/etc/hosts
              state=present
              backup=yes

- name: Install required packages
  apt: pkg={{item}}
       state=present
  with_items:
   - python-pycurl
   - git
   - curl
   - openjdk-7-jre-headless

- include: deploy.yml
  when: resourcemap_deploy

- include: install.yml
  when: not resourcemap_deploy

- name: Insert elastic search config
  template: src=elasticsearch.yml.j2
            dest=/etc/elasticsearch/elasticsearch.yml
            owner=root
            group=root
            mode=0644
  notify: restart elasticsearch

- name: Insert settings.yml
  template: src=settings.yml.j2
            dest=/etc/resourcemap/settings.yml
            owner=root
            group=resourcemap
            mode=0644

- name: Start resourcemap
  service: name=resourcemap state=started enabled=yes
